__pycache__
data/*
!data/MoCap
data/MoCap/*/
!data/MoCap/raw/
!data/SynSeg
data/SynSeg/*/
!data/SynSeg/raw/
!data/CaseStudy
downstream_methods/AutoPlait/data/
*.png
*.pdf
*.o
*.out
*.output
output/
execution*/
archive/
unused/
.vscode/
completeness_analysis/